/*======================================================
Main Styles
=======================================================*/







/*======================================================
Calculator Styles
=======================================================*/

.calculator-heading{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.box-title{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.data-entry {
    max-width: 70%;
    margin: 10px auto;
}

.info-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    
}