/*======================================================
Main Site Styles
=======================================================*/







/*======================================================
Calculator Styles
=======================================================*/
.calculator{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.calculator-heading{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.box-title{
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

.data-entry {
    max-width: 70%;
    margin: 10px auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 2px solid blue;
    padding: 2vh;
}

.fee-calculations {
    max-width: 70%;
    margin: 10px auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 2px solid red;
    padding: 2vh;
}

label {
    font-size: 2vh;
    font-weight: bold;
}
input {
    width: 50%;
    font-size: 2vh;
}
select {
    width: 50%;
    font-size: 2vh;
}

.calc-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.calculate-btn {
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    background-color: #004f13;
    color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 10px;
    text-transform: uppercase;
}
